{% extends "authentication/base.html" %}
{% load static %}
{% block title_document %} Poster une nouvelle annonce {% endblock %}

{% block style %} 
    <link rel="stylesheet" href="{% static 'post_ad/css/post_ad_poster_list.css' %}">
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
            
    {% for error in form.non_field_errors %}
        <p>{{error}}</p>
    {% endfor %}

    <h1>Crée une nouvelle annonce</h1>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Poster l'annonce">
        </form>

{% endblock %}