{% extends "authentication/base.html" %}
{% load static %}
{% block title_documents %} Liste de toute les annonce {% endblock %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'post_ad/post_ad_poster_list.css' %}">
{% endblock %}

{% block content%}

    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1>
        {% endfor %}
    {% endif %}

    <section id="block_search">
        <form action="{% url 'poster_search' %}" method="post">
            {% csrf_token %}
            {{ form_search }}
            <input type="submit" value="Rechercher" class="bnt_submit_search">
        </form>
    </section>
    <section id="list_ads">
        <h1 class="title_1">Liste de toute les annonce</h1>
        {% if post_ad %}
            {% for item in post_ad %}
                <div id="block_detailed_ad">
                    <div class="div_image_ad">
                        <img src="{{item.photo_ad.url}}" style="width: 100px; height: 100px;" alt="Image">
                    </div>
                    <div>
                        <a href="{% url 'poster_detailed' item.id %}">{{ item }}</a>
                        <p class="infos_geolocalisation">{{ item.district }} {{ item.city }}</p>
                        <p class="infos_time">{{ item.date_create_ad }}</p>
                        <p class="infos_price"> {{ item.price_ad }} </p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="not_ads">Aucune annonce disponible</p>
        {% endif%}
    </section>
    

{% endblock %}
