{% extends "authentication/base.html" %}
{% load static %}
{% block title_documents %} Liste de toute les annonce {% endblock %}
{% block content%}

    <h1 class="title_1">Toute les annonces</h1>
    <section id="list_ads">

        {% if post_ad %}
            {% for item in post_ad %}
                <div id="block_detailed_ad">
                    <div class="div_image_ad">
                        <img src="{{item.photo_ad.url}}" alt="Image">
                    </div>
                    <div class="detaile_ad">
                        <div>
                            <a href="{% url 'poster_detailed' item.id %}" id="lien_ad">{{ item }}</a>
                            <p class="infos_price"> {{ item.price_ad }} FCFA</p>
                        </div>
                        <p class="infos_geolocalisation">{{ item.district }} {{ item.city }}</p>
                        <p class="infos_time">{{ item.date_create_ad }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p class="not_ads">Aucune annonce disponible</p>
        {% endif%}
    </section>
    
{% endblock %}

