.container_infos {
    display: flex;
}

.container_image img {
    width: 600px;
    margin-right: 20px;
}


.container_detailes {
    position: relative;
    bottom: 10px;
    width: 573px;
    word-break: break-all;
}