{% extends "authentication/base.html" %}
{% load static %}
{% block content %}

<h1>Modifier vos information</h1>
<form method="post" enctype="multipart/form-data">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Metre a mes information">
</form>
<a href="{% url 'delete_user' %}"><button>Supprimer le compte</button></a> 


<h1>Edit la photo de profile</h1>

<div>
    {% if user.photo_profile %}
        <img src="{{ user.photo_profile.url }}" alt="" style="width: 100px; height: 100px;">
    {% else %}
        <img src="{% static 'authentication/img/anonymous.jpg' %}" alt="" style="width: 100px; height: 100px;">
    {% endif %}
</div>

{% endblock %}