{% extends "authentication/base.html" %}
{% load static %}
{% block content %}
{% block style %} 
    <link rel="stylesheet" href="{% static 'authentication/css/authentication_singup.css' %}">
{% endblock %}
    <h1 class="title_1">Inscription</h1>
    <div class="container_form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="S'inscrire" class="bnt_singout">
        </form>
        <a href="{% url 'login' %}"><button class="bnt_login">Se connecter</button></a>
    </div>

    {% endblock %}